@import "../../global.scss";
#service{
    // border: 3px solid red;
    width: 90%;
    margin: auto;

    h2 {
        // border: 2px solid red;
        margin     : auto;
        text-align : center;
        font-size  : 40px;
        font-weight: 600;
    }

    .container {
        display           : flex;
        flex-direction    : row;
        justify-content   : space-around;
        // border         : 3px solid red;
        margin-top        : 2px;
        margin-left       : 50px;
        margin-right      : 50px;
        margin-bottom     : 10px;
        flex-wrap         : wrap;
        padding           : 15px;
        @include small-screen {
            flex-direction: row;
            margin        : 5px;

        }

        >* {
            min-width          : 200px;
            min-height         : 200px;
            // background-color: red;
            margin-bottom      : 20px;
            border-radius      : 5%;
            transition         : all .9s;
            background-color   : rgb(255, 255, 255);
            color              : black;
            text-align: center;
            padding: 10px;
            transition: 0.9s;
            color:blueviolet;



            &:hover {
                transform: scale(1.1,1.1);

            }

            @include small-screen {
                min-width : 200px;
                min-height: 200px;
            }

           @include medium-screen{
            margin-left: 5px;
            margin-right: 5px;
            border: 3px solid red;
            width: 230px;
           }

        }
        .items{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}