@import "../../global.scss";
#skills{
    width: 90%;
    // border: 3px solid red;
    margin: auto;
    margin-bottom: 20px;
    padding: 3px;
    h2{
        text-align: center;
        font-size  : 40px;
        font-weight: 600;
    }

    .container {
        display           : flex;
        flex-direction    : row;
        justify-content   : space-around;
        // border         : 3px solid red;
        margin-top        : 2px;
        margin-left       : 50px;
        margin-right      : 50px;
        margin-bottom     : 5px;
        flex-wrap         : wrap;
        padding           : 10px;
        align-items: center;

        @include small-screen {
            flex-direction: row;
            margin        : 5px;

        }

        .items{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 5px;
            img{
                width: 45px;
                height: 45px;
            }
            h3{
                font-size: 15px;
            }
        }

        >* {
            width          : 100px;
            height         : 100px;
            // background-color: red;
            margin-bottom      : 20px;
            border-radius      : 5%;
            transition         : all .9s;
            background-color   : rgb(255, 255, 255);
            color              : black;
            text-align: center;
            padding: 10px;

            &:hover {
                // background-color: rgb(124, 133, 124);
                transform: scale(0.8,0.8);
            }
            
            @include small-screen {
                flex-direction: column;
                // width: 140px;
                padding: 5px;
            }

        }
    }
}