@import "../../global.scss";

#home {
    position: relative;
    top: 0;
    // border  : 1px solid red;
    height  : 450px;
    width   : 80%;
    margin  : auto;
    margin-top: 90px;
    

    @include small-screen{
        height: 280px;
        margin-top: 60px;
    }


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        // border: 3px solid blue;
        text-align: center;
        padding: 20px;  

        @include small-screen{
            // background-color: red;
            padding: 15px;
        }


        .home-image{
            width: 300px;
            height: 300px;
            border-radius: 50%;
            // background-color: green;

            img{
                width: 300px;
                height: 300px;
                border-radius: 50%;
                transition: 0.9s;
                @include small-screen{
                    width: 150px;
                    height: 150px;
                }

                &:hover{
                    transform: scale(1.1,1.1);
                }
            }
            @include small-screen{
                width: 150px;
                height: 150px;
            }
        }
        h1{
            font-size: 30px;
            margin-top: 13px;

            @include small-screen{
               font-size: 15px;
               margin-top: 10px;
            }
            span{
                color: red;

            }
        }
        p{
            margin-top: 5px;
            font-family: "Fira Sans Condensed", sans-serif;
            font-weight: 300;
            font-size: 15px;
        }

    }

}