.topbar {
    width : 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    // background-color: blue;
    .wrapper {
        display        : flex;
        margin         : 10px 10px;
        justify-content: space-between;
        align-items    : center;
        padding: 10px;

        .left {
            display    : flex;
            align-items: center;

            .logo {
                font-size      : 50px;
                font-weight    : 300;
                text-decoration: none;
                margin-right   : 20px;
            }

            .contentItems {
                margin-right: 20px;
                font-size   : 30px;
            }
        }

        .right {
            .hambargir {
                width              : 34px;
                height             : 25px;
                // background-color: blue;
                display            : flex;
                justify-content    : space-between;
                flex-direction     : column;
                cursor             : pointer;

                span {
                    height          : 3px;
                    background-color: rgb(12, 12, 12);
                    transform-origin: left;
                    transition: 0.9s;
                }
            }
        }
    }

    &.active {
        .wrapper {
            background-color: blue;
            transition: 0.9s;
            color: white;

            .logo{
                color: white;
            }
            
            .hambargir{

                span{
                    background-color: white;
                    &:first-child{
                        transform: rotate(45deg);
                    }

                    &:nth-child(2){
                        opacity: 0;
                    }

                    &:last-child{
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}