*{
  margin: 0;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
   &::-webkit-scrollbar{
    display: none;
   };
   scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  scroll-behavior: smooth;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


